@page "/counter"

<MudBreadcrumbs Items="_items"></MudBreadcrumbs>

@if (!_hidden)
{
    <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Elevation="5" Class="col-12" ContentAlignment="HorizontalAlignment.Center">Hello Here is a MudAlert</MudAlert>
}

<h1>Counter</h1>

<p role="status">Current count: @_currentCount</p>

<p>
    <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" @onclick="IncrementCount"></MudFab>
</p>

@code {
    private int _currentCount;
    private bool _hidden = true;

    private void IncrementCount()
    {
        _currentCount++;
        _hidden = _currentCount switch
        {
            5 => false,
            >= 6 => true,
            _ => _hidden
            };
    }

}

@code {

    private readonly List<BreadcrumbItem> _items = new()
    {
        new BreadcrumbItem("Home", "#"),
        new BreadcrumbItem("Counter", "null", true)
    };

}